@tailwind base;
@tailwind components;
@tailwind utilities;

/* light theme */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #fafafa;
  --secondary-foreground: #000000;
  --tertiary: #ffffff;
  --border: #eaeaea;
  --ring: #000000;
  --focus: #000000;
  --chart-line: #000;
  --table-header: #fafafa;
  --scroll-bar: #d1d5db;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: #dc2626;
  --radius: 0.375rem;
  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 0 0% 0%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 240 5.9% 90%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

/* dark theme */
.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #000000;
  --secondary: #111111;
  --secondary-foreground: #ffffff;
  --tertiary: #000000;
  --border: #333333;
  --ring: #ffffff;
  --focus: #ffffff;
  --chart-line: #fff;
  --table-header: #111111;
  --scroll-bar: #333333;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --muted: 0 0% 7%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 9%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: #f87171;
  --input: 0 0% 9%;
  --radius: 0.375rem;
  --sidebar-background: 0 0% 0%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 0 0% 100%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 0 0% 9%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 0 0% 13%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

.recharts-bar-rectangle:hover {
  fill: none; /* Remove the fill color */
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500; /* Optional default weight */
  font-size: medium;
  font-style: normal; /* Optional default style */
}

/* this is for testimonial section  */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

/* this is for contact section  */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

/* for background banner  */

/* In your Tailwind CSS configuration (e.g., styles.css) */
.scroll-mt-40 {
  scroll-margin-top: 40px;
}

.whitespace-nowrap {
  white-space: nowrap;
}
.overflow-hidden {
  overflow: hidden;
}

/* this is for scroll bar  */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--scroll-bar);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

/* Resusable classes */
@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .cancel-red {
    @apply text-red-600 dark:text-red-400;
  }
}

/* Animation delays for typing indicator */
@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
